@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family:  'Open Sans';
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
}

code {
  font-family:  'Open Sans';
 /* font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
  */  
}

.clickable-text:hover {
  text-decoration: underline;
}

::-webkit-scrollbar {
  width: 7px;
  height: 7px;
 
}


::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 

::-webkit-scrollbar-thumb {
 
  background: #7e7d7d; 
}


::-webkit-scrollbar-thumb:hover {
  background:  #1877f2;
}

textarea,
input,
select {
    font-family: inherit;
  
}

textarea:focus, input:focus{
  outline: none;
}

input{

  border-color: #babfc4;
  border-width: 1pt;
  
  padding: 10px;
  border-radius: 5px;
  
}

button{
  font-size: medium;
  padding: 12px;
  border-radius: 5px;

  border-style: none;

}
